.favourites{
  margin: 25px 0px 25px 25px;
  background-color: #023862;
  color:white;
}

.heading{
  background-color: #023862;
  color: white;
  border: none;
  display: flex;
  position: center;
  justify-content: center;
}


.favouruteItem {
  color: black;
  background-color: #e8ebf3;
  font-size: 25px;
}
