<div class = "item-list">

  <div class="item"
  *ngFor = "let item of (items | async); let i = index"
  (click)="viewItem(item.id)"
  >

    <div class="heading">
      <h2>{{ item.heading }}</h2>
    </div>
    <div class="image">
      <img src="{{ item.image }}" alt="{{ item.id }} image" />
    </div>
    <div class="description">
      <p>{{ item.description }}</p>
    </div>
    <div class = "addToFavourites">
      <app-favourite-button [item] = "item">
      </app-favourite-button>
    </div>
    <div class = "ratingStars">
      <app-rating [marks] = "item.marks">
      </app-rating>
    </div>

  </div>

  <!-- <div class="aside-from-item-list">
    <app-favourite-aside>

    </app-favourite-aside>
  </div> -->

</div>
